@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .section-content-title {
        @apply text-lg py-2 font-mono font-bold w-full;
    }

    .nav-links {
        @apply text-base p-3 sm:p-2 bg-gray-600 hover:bg-gray-800 hover:text-red-400 focus:text-red-700 transition duration-500 text-blue-50 shadow-inner cursor-pointer;
    }
    
    .theicons {
        @apply pt-8 pr-6 text-lg text-yellow-400;
    }
    
    .section-title {
        @apply font-semibold text-xl underline sm:text-3xl;
    }
    
    .section-descr {
        @apply text-base mb-2;
    }
    
    .section-content-box {
        @apply p-2 m-1 bg-gray-700 shadow-lg border divide-y-2;
    }
    
    .toggler {
        @apply section-content-title flex justify-between;
    }
    
    .active {
        height: 10rem;
    }

    .mytransition {
        @apply transition-all duration-500;
    }

    .form-group {
        @apply p-2 sm:p-2 flex flex-col sm:flex-row relative;
    }

    .form-label {
        @apply uppercase font-semibold opacity-60 sm:mr-2 sm:p-2;
    }

    .form-input {
        @apply mytransition border-b-2 border-white bg-transparent focus:outline-none focus:border-blue-600 z-10 relative mb-4 sm:w-[18em];
    }

    .btn {
        @apply p-2 text-lg w-full bg-blue-500 hover:bg-blue-600 hover:text-blue-200 mytransition text-white;
    }

    tr {
        @apply section-content-title;
    }

    td {
        @apply p-2 font-normal w-auto;
    }

    #modal {
        @apply mytransition h-0 bg-gray-400 border-0 rounded-lg shadow-lg overflow-hidden absolute top-4 w-11/12;
    }
}

*{
    font-family: 'Lato', sans-serif;
}


.debug {
    border: 1px solid red;
}